
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --primary-color: #153fe1;
  --secondary-color: #f3f6fe;
  --text-color: #143fe2;
  --color-one: #f3f6fe; 
  --color-two: #fef3de;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  color: black;
}

.text-main{
  color: var(--text-color) !important;
}

.bg-main {
  background-color: var(--primary-color);
}

.btn-main {
  background-color: var(--primary-color);
  color: white !important;
  border-radius: 12px;
}

.btn{
  font-size: 0.9rem;
}

.navbar-toggler{
  background-color: var(--primary-color) !important;
}

.header{
  text-align: center;
}

.header h1{
  font-size: 3.2rem;
  font-weight: 700;
}

.header .btn-main{
  font-size: 1rem;
  padding: .9rem 1.3rem !important;
}

.btn-icon{
  background-color: var(--secondary-color);
  border-radius: 12px;
}

.btn-icon i {
  font-size: 1.25rem !important;
  color: var(--text-color) !important;
}

.quote{
  background-color: var(--secondary-color);
  border-radius: 30px;
  height: 350px;
  width: 100%;
}

.rounded-end {
  border-top-right-radius: 2rem!important;
  border-bottom-right-radius: 2rem!important;
}