
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --primary-color: #153fe1;
  --secondary-color: #f3f6fe;
  --text-color: #143fe2;
  --color-one: #f3f6fe; 
  --color-two: #fef3de;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  color: black;
}

.text-main{
  color: var(--text-color) !important;
}

.bg-main {
  background-color: var(--primary-color);
}

.btn-main {
  background-color: var(--primary-color);
  color: white !important;
  border-radius: 12px;
}

.btn{
  font-size: 0.9rem;
}

.navbar-toggler{
  background-color: var(--primary-color) !important;
}

.header{
  text-align: center;
}

.header h1{
  font-size: 3.2rem;
  font-weight: 700;
}

.header .btn-main{
  font-size: 1rem;
  padding: .9rem 1.3rem !important;
}

.btn-icon{
  background-color: var(--secondary-color);
  border-radius: 12px;
}

.btn-icon i {
  font-size: 1.25rem !important;
  color: var(--text-color) !important;
}

.quote{
  background-color: var(--secondary-color);
  border-radius: 30px;
  height: 350px;
  width: 100%;
  position: relative !important;
}

.ball{
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  margin-left: -50px;
  margin-bottom: -50px;
  clip-path: inset(50% 0% circle(50%));
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball i{
  font-size: 3rem !important;
  margin-right: -5px;
  color: var(--primary-color);
  
}

.rounded-end {
  border-top-right-radius: 2rem!important;
  border-bottom-right-radius: 2rem!important;
}

.bullet .bg-main{
  background-color: var(--color-two) !important;
}

.home-testimonial{
  background-color: #231834;
  height: 380px}
.home-testimonial-bottom{
  background-color: #f8f8f8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px
}
.home-testimonial h3{
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase
}
.home-testimonial h2{
  color: white;font-size: 28px;
  font-weight: 700
}
.testimonial-inner{
  position: relative;
  top: -174px
}
.testimonial-pos{
  position: relative;
  top: 24px
}
.testimonial-inner .tour-desc{
  border-radius: 5px;
  padding: 40px
}
.color-grey-3{
  font-size: 14px;color: #6c83a2
}
.testimonial-inner img .tm-people{
  width: 60px !important;
  height: 60px !important;
  -webkit-border-radius: 50%;
  border-radius: 50% !important;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none
}
.link-name{
  font-size: 14px;color: #6c83a2
}
.link-position{
  font-size: 12px;color: #6c83a2
}