
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  color: black;
}

.text-main{
  color: #143fe2 !important;
}

.btn-main {
  background-color: #153fe1;
  color: white !important;
  border-radius: 12px;
}

.btn{
  font-size: 0.9rem;
}

.navbar-toggler{
  background-color: #153fe1 !important;
}


.header h1{
  font-size: 3.2rem;
  font-weight: 700;
}

.header .btn-main{
  font-size: 1rem;
  padding: .9rem 1.3rem !important;
}

.btn-icon{
  background-color: #f3f6fe;
  border-radius: 12px;
}

.btn-icon i {
  font-size: 1.25rem !important;
  color: #143fe2 !important;
}